<html lang="en">
    <%- include('./partials/head.ejs')%>
<body>
    <%- include('./partials/nav.ejs')%>
   <div class="blogs content">
    <h1>About Us</h1>
    <p>In contrast to a landing page, your About Us page is the ideal place to accommodate a number of objectives: Communicate the story of your business and why you started it. Describe the customers or the cause that your business serves. Explain your business model or how your products are made.</p>
    <p>In contrast to a landing page, your About Us page is the ideal place to accommodate a number of objectives: Communicate the story of your business and why you started it. Describe the customers or the cause that your business serves. Explain your business model or how your products are made.</p>
    
   </div>
   <%- include('./partials/footer.ejs')%>
</body>
</html>