<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact page</title>
</head>
<body>
<div style="color:aqua;text-align: center;background-color: brown;">
    <h1>To contact dial Mithun 9361089696</h1>


    <footer style="text-align-last: center;font-size:large;">Click on <a href="http://localhost:3000/"> Mithun </a></footer>
</div>
</body>
</html>